@model IEnumerable<MyFinances.Models.ExpenseRecords>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.financialAccount.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ammount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.OrderByDescending(item => item.date)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.financialAccount.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ammount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.expenseRecordID }) |
            @Html.ActionLink("Details", "Details", new { id=item.expenseRecordID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.expenseRecordID })
        </td>
    </tr>
}

</table>
